Repository ProvableHQ/leo, pull requests merged in 2022-04, with the labels that each got.

#1741 [Impl] Testnet3 Cleanup
  Cargo.lock
  compiler/ast/Cargo.toml
  compiler/parser/Cargo.toml
  compiler/parser/src/parser/statement.rs
  compiler/parser/src/tokenizer/lexer.rs
  compiler/parser/src/tokenizer/mod.rs
  compiler/parser/src/tokenizer/token.rs
  leo/errors/Cargo.toml
  leo/span/Cargo.toml
  leo/span/src/lib.rs
  leo/span/src/tendril_json.rs
  tests/expectations/parser/parser/expression/token_format.leo.out
  tests/expectations/parser/parser/statement/assign.leo.out
  tests/parser/statement/assign.leo
Labels: module-parser

#1749 remove unused code and dependencies
  Cargo.lock
  compiler/parser/default.profraw
  leo/errors/Cargo.toml
  leo/errors/src/lib.rs
  leo/errors/src/snarkvm/mod.rs
  leo/errors/src/snarkvm/snarkvm_errors.rs
  tools/linter/Cargo.toml
  tools/linter/LICENSE.md
  tools/linter/README.md
  tools/linter/src/main.rs
Labels: module-errors

#1762 Custom panic hook
  Cargo.lock
  Cargo.toml
  leo/main.rs
Labels: Implementation

#1769 [Impl] Ast Visitor
  compiler/ast/src/lib.rs
  compiler/ast/src/passes/mod.rs
  compiler/ast/src/passes/reconstructing_director.rs
  compiler/ast/src/passes/reconstructing_reducer.rs
  compiler/ast/src/passes/visitor.rs
  compiler/ast/src/passes/visitor_director.rs
  compiler/parser/src/tokenizer/lexer.rs
  docs/grammar/README.md
Labels: module-ast, Implementation
